<div class="user_content">
 <div class="container">
    <div class="row">
      <%= form_for(@user,url: signup_path, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter user name", required: true%>
        </div>
      </div>
      <div class="form-group">
       <%= f.label :email, "Email", class: "col-md-1 control-label" %>
       <div class="col-md-3">
       <%= f.email_field :email, class: 'form-control', placeholder: "email@example.com", required: true %>
       </div>
      </div>
      <div class="form-group">
       <%= f.label :password, "password", class: "col-md-1 control-label" %>
       <div class="col-md-3">
       <%= f.password_field :password, class: 'form-control', placeholder: "***********", required: true %>
       </div>
      </div>    
      <div class="form-group">
       <%= f.label :password_confirmation, "password", class: "col-md-1 control-label" %>
       <div class="col-md-3">
       <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "***********", required: true %>
       </div>
      </div>
      <div class="form-group">
	       <div class="col-md-offset-1 col-md-3">
	       <%= link_to '<button type="button" class="btn btn-warning">back</button>'.html_safe, users_path, width: "100%" %>
           <%= f.submit "Register", class: "btn btn-success" %>
          </div>
      </div>
    <% end %>
    </div>
 </div>
</div>
